* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculadora {
  display: flex;
  background-color: grey;
  width: 60rem;
  height: 80rem;
  border-radius: 40px;
  padding-top: 4rem;
  flex-direction: column;
  align-items: center;
}

#display {
  display: flex;
  width: 55rem;
  height: 15rem;
  background-color: darkseagreen;
  border-radius: 40px;
  border: none;
  font-size: 70px;
}

.teclas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  gap: 20px;
  height: 100%;
  padding: 20px;
}

.operator {
  border-radius: 20px;
  border: none;
  width: 200px;
  font-size: 40px;
}

#equal {
  width: 410px;
}
