* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.calculadora {
  display: flex;
  background-color: grey;
  width: 40rem;
  border-radius: 40px;
  padding-top: 2rem;
  flex-direction: column;
  align-items: center;
  height: 100%;
  border: 2px solid black;
}

#display {
  display: flex;
  width: 36rem;
  height: 8rem;
  background-color: darkseagreen;
  border-radius: 40px;
  border: none;
  font-size: 70px;
  padding-left: 40px;
  border: 1px solid black;
}

.teclas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  width: 100%;
  gap: 20px;
  height: 100%;
  padding: 20px;
}

.teclas input {
  border-radius: 20px;
  border: none;
  height: 100%;
  font-size: 40px;
  background-color: rgb(44, 44, 44);
  color: white;
  cursor: pointer;
}

.div1 {
  grid-area: 5 / 3 / 6 / 5;
  height: 100%;
}

#equal {
  width: 100%;
}
